<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="https://www.railstutorial.org">Ruby on Rails Tutorial</a>, part of the <a href="https://learnenoguh.com">
  Learn Enough
</a> family of tutorials is a book an screen cast
</p>